<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.madagascar.dao.EnergyMapper">
    <resultMap id="resultData" type="com.madagascar.model.Energy">
        <id column="id" property="id"/>
        <result column="user_id" property="user_id"/>
        <result column="use_power" property="use_power"/>
        <result column="use_date" property="use_date"/>
    </resultMap>
    <insert id="insertEnergy">
        INSERT INTO energy_used (id,user_id,use_power,use_date) VALUES (#{id},#{user_id},#{use_power},#{use_date})
    </insert>
    <update id="updateEnergy">
        UPDATE energy_used set use_power = #{use_power} where id = #{id}
    </update>
    <select id="queryAll" resultMap="resultData">
        SELECT * FROM energy_used WHERE user_id = #{user_id}
    </select>
    <select id="queryById" resultMap="resultData">
        SELECT * FROM energy_used WHERE  id =#{id}
    </select>
    <select id="queryByUserID" resultMap="resultData">
        SELECT * FROM energy_used where user_id = #{user_id} order by use_date desc limit 0,1
    </select>

</mapper>