
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>马达加斯加电力系统</title>

    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <style type="text/css">
        body{
            background-image: url("../../../res/images/1l_tracielouise_dickydawn.jpg");
        }
    </style>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/res/ace/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/res/ace/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="/res/ace/assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="/res/ace/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/res/images/supersized.css" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/res/ace/assets/css/ace-part2.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="/res/ace/assets/css/ace-rtl.min.css" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/res/ace/assets/css/ace-ie.min.css" />
    <![endif]-->
    <style type="text/css">
        .login-layout .widget-box {
            padding: 0px;
        }
        .error-mess {
            background: #fff0f0 none repeat scroll 0 0;
            border: 1px solid #ffd2d2;
            color: #b74d46;
            height: 26px;
            line-height: 26px;
            margin-top: 10px;
            width: 100%;
        }

        .error-mess .error-icon {
            background: rgba(0, 0, 0, 0) url("/res/images/login-logic-icons.png") no-repeat scroll 0 0;
            display: inline-block;
            height: 16px;
            margin: -4px 5px 0;
            vertical-align: middle;
            width: 16px;

        }

        .ok1 {
            background: #dff0d8 none repeat scroll 0 0;
            border: 1px solid #87b87f;
            color: #3c763d;
            height: 26px;
            line-height: 26px;
            margin-top: 10px;
            width: 100%;

        }

        .ok1 .ok2 {
            background: rgba(0, 0, 0, 0) url("/res/images/login-logic-icons.png") no-repeat scroll -74px 0;
            display: inline-block;
            height: 16px;
            margin: -4px 5px 0;
            vertical-align: middle;
            width: 16px;
        }
    </style>


    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="/res/ace/assets/js/html5shiv.min.js"></script>
    <script src="/res/ace/assets/js/respond.min.js"></script>

    <![endif]-->
</head>

<body class="login-layout">
<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="space-20"></div>
                    <div class="space-20"></div>
                    <div class="center">
                        <h1>
                            <i class="ace-icon fa fa-leaf green"></i>
                            <span class="white">马达加斯加电力系统</span>
                        </h1>

                    </div>

                    <div class="space-6"></div>

                    <div class="position-relative">
                        <div id="login-box" class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header blue lighter bigger">
                                        <i class="ace-icon fa fa-coffee green"></i>
                                        登录系统
                                    </h4>

                                    <div class="space-6"></div>

                                    <form>
                                        <fieldset>
                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="text" class="form-control" placeholder="账号"  name="username" id="username" onKeyDown="if(event.keyCode==13) return false;"/>
															<i class="ace-icon fa fa-user"></i>
														</span>
                                            </label>

                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" class="form-control" placeholder="密码"  name="password" id="password" onKeyDown="if(event.keyCode==13) return false;"/>
															<i class="ace-icon fa fa-lock"></i>
														</span>
                                            </label>

                                            <div id="mess" style="display: none">
                                                <span id="icon"></span>
                                                <span id="message"></span>
                                            </div>
                                            <div class="space"></div>

                                            <div class="clearfix">
                                                <button type="button"  id="loginBtn" class="width-35 pull-right btn btn-sm btn-primary">
                                                    <i class="ace-icon fa fa-key"></i>
                                                    <span class="bigger-110" >登陆</span>

                                                </button>

                                                <button  class="width-35 pull-left btn btn-sm btn-primary">
                                                    <i class="ace-icon fa fa-keyboard-o"></i>
                                                    <span >注册</span>
                                                </button>
                                            </div>

                                            <div class="space-4"></div>
                                        </fieldset>
                                    </form>



                                    <div class="space-6"></div>


                                </div><!-- /.widget-main -->


                            </div><!-- /.widget-body -->
                        </div><!-- /.login-box -->
                    </div><!-- /.position-relative -->


                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.main-content -->
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="/res/ace/assets/js/jquery-2.1.4.min.js"></script>

<!-- <![endif]-->
<script src="/res/jquery/texiao.js"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function ($) {
        $("#loginBtn").click(function () {
            var username = $('#username').val();
            var password = $('#password').val();
            if (username == '') {
                $('#icon').addClass('error-icon');
                $("#message").html("请输入账号！");
                $('#mess').addClass('error-mess').show();
                $('#username').focus();
                return false;
            } else if (password == '') {
                $('#icon').addClass('error-icon');
                $("#message").html("请输入密码！");
                $('#mess').addClass('error-mess').show();
                $('#password').focus();
                return false;
            } else {
                jQuery.ajax({
                    type:'POST',
                    async: false,
                    cache: false,
                    contentType: 'application/json',
                    url: '/login',
                    dataType: 'json',
                    data:'{\"username\":\"'+username+'\",\"password\":\"'+password+'\"}',
                    success: function (result) {
                        if (result.status==0) {
                            $('#icon').addClass('error-icon');
                            $("#message").html("账号或者密码错误！");
                            $('#password').val('').focus();//清空账号，账号获取焦点
                            $('#mess').addClass('error-mess').show();
                            console.log("wwwwwwwwwwwwwwwwwwwww"+result.status);
                        } else {
                            $('#icon').attr('class', 'ok2');
                            $("#message").html("登录成功，正转向欢迎页！");
                            $('#mess').attr('class', 'ok1').show();
                            console.log("ddddddddddddddddddddddddddddddddddddd");
                            setTimeout(function () {
                                window.location.href = "/toWelcome";
                            }, 500)
                        }
                    },
                    error:function(){
                        //链接失败
                    }
                });
            }
        });

    });
</script>
</body>
</html>
